<ion-header>
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-menu-button color="white"></ion-menu-button>
      <ion-back-button color="white" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="white">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" style="border: white 1px solid; border-radius: 100%;">
        <ion-icon size="large" color="white" slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>