<app-header [title]="pageTitle"></app-header>
<ion-content>
    <app-panel-search (typeChanged)="onTypeEmitted($event)" [categoryName]="'characters'"></app-panel-search>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let item of arrayCharacters | filtro: txtSearch: 'name'">
                <app-panel-character [character]="item"
                                    [identity]="identity"  
                                    (typeChanged)="onTypeEmittedCharacterPanel($event)"
                ></app-panel-character>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
