<ion-header>
  <ion-toolbar color="header">
    <ion-title color="white">Sign in</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid style="padding-top: 60px;">
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-avatar class="user-img">
          <img src="../../../assets/images/user.png" alt="user">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 30px;">
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-input type="text" placeholder="user name" [(ngModel)]="userName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 20px;">
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-input [type]="type" placeholder="password" [(ngModel)]="password"></ion-input>
          <!-- Boton para mostrar la contraseña -->
          <ion-buttons slot="end" *ngIf="password !== '' && password !== null">
            <ion-button (click)="changeInputType()">
              <ion-icon slot="icon-only" *ngIf="type === 'password'" name="eye-outline"></ion-icon>
              <ion-icon slot="icon-only" *ngIf="type === 'text'" name="eye-off-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 20px;">
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="header">
          <ion-label color="white"><strong>Sign in</strong></ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 50px;">
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="google">
          <ion-icon slot="start" color="white" name="logo-google"></ion-icon>
          Sign in with google
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="facebook">
          <ion-icon slot="start" color="white" name="logo-facebook"></ion-icon>
          Sign in with facebook
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
