<ion-list-header style="border-bottom: rgb(255, 193, 79) 2px solid; margin-bottom: 50px; padding-bottom: 10px;">
  <div class="div-padre">
    <ion-row>
      <ion-col size="12">
        <ion-avatar class="avatar">
          <img [src]="photoUrl" alt="user" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p style="text-align: center;">{{identity.displayName}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-button color="header" fill="solid" (click)="editMyData()">
          Edit
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-list-header>
  <!-- <ion-note>hi@ionicframework.com</ion-note> -->

  <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
    <ion-item routerDirection="root"  lines="none" detail="false" routerLinkActive="selected">
      <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
    </ion-item>
  </ion-menu-toggle> -->